# Goodreads dataset

In [2]:
import numpy as np
import pandas as pd
from pandas.api.types import CategoricalDtype
from scipy.sparse import csr_matrix
import spacy
import concurrent.futures

np.random.seed(5)
nlp = spacy.load('en_core_web_sm')

In [15]:
#df = pd.read_json('/home/neopux/UHH/datasets/Video_Games_5_proc.json')
df = pd.read_json(r'D:\Datasets\goodreads_reviews\goodreads_reviews_children.json.gz', lines=True)
df_meta = pd.read_json(r'D:\Datasets\goodreads_reviews\goodreads_books_children.json.gz',  lines = True)

In [17]:
df_meta.head(2)

,asin,authors,average_rating,book_id,country_code,description,edition_information,format,image_url,is_ebook,...,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,title,title_without_series,url,work_id
0,,"[{'role': '', 'author_id': '3041852'}]",4.13,287141,US,"Relates in vigorous prose the tale of Aeneas, ...",,Paperback,https://s.gr-assets.com/assets/nophoto/book/11...,false,...,2006,Yesterday's Classics,46,[],[],7,The Aeneid for Boys and Girls,The Aeneid for Boys and Girls,https://www.goodreads.com/book/show/287141.The...,278578
1,,"[{'role': '', 'author_id': '19158'}]",4.22,6066812,US,"To Kara's astonishment, she discovers that a p...",,Paperback,https://images.gr-assets.com/books/1316637798m...,false,...,2009,Seven Seas,98,[151854],"[948696, 439885, 274955, 12978730, 372986, 216...",6,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...,https://www.goodreads.com/book/show/6066812-al...,701117

In [18]:
df_meta[df_meta['book_id'] == 5]

,asin,authors,average_rating,book_id,country_code,description,edition_information,format,image_url,is_ebook,...,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,title,title_without_series,url,work_id
53726,,"[{'role': '', 'author_id': '1077326'}, {'role'...",4.53,5,US,Harry Potter's third year at Hogwarts is full ...,,Mass Market Paperback,https://images.gr-assets.com/books/1499277281m...,false,...,2004,Scholastic Inc.,1876252,[162083],"[13759, 65111, 239917, 153800, 393145, 40159, ...",28561,Harry Potter and the Prisoner of Azkaban (Harr...,Harry Potter and the Prisoner of Azkaban (Harr...,https://www.goodreads.com/book/show/5.Harry_Po...,2402163

In [5]:
df.head(2)

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,23310161,Tue Nov 17 11:37:35 -0800 2015,Tue Nov 17 11:38:05 -0800 2015,0,7,4,,f4b4b050f4be00e9283c92a814af2670,Fun sequel to the original.,,8842281e1d1347389f2ab93d60773d4d
1,17290220,Sat Nov 08 08:54:03 -0800 2014,Wed Jan 25 13:56:12 -0800 2017,0,4,5,Tue Jan 24 00:00:00 -0800 2017,22d424a2b0057b18fb6ecf017af7be92,One of my favorite books to read to my 5 year ...,,8842281e1d1347389f2ab93d60773d4d

In [10]:
def process_review(s):
    doc = nlp(s)
    tokens = []

    for tok in doc:
        if not tok.is_stop and not tok.is_punct and not tok.like_url and not tok.like_email:
            tokens.append(tok.lemma_.lower().strip() if tok.lemma_ != '-PRON-' else tok.lower_)
    return ' '.join(tokens)

In [13]:
df['review_text_proc'] = df['review_text'].apply(process_review)

In [14]:
df.to_json('D:/Datasets/goodreads_reviews/processed/' + 'goodreads_reviews_children.json')

In [2]:
df = pd.read_json('D:/Datasets/goodreads_reviews/processed/goodreads_reviews_children.json')

In [14]:
df[df['book_id'] == 5]

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,review_text_proc,started_at,user_id
100330,5,Sat Oct 11 23:32:44 -0700 2008,Wed Aug 20 09:05:25 -0700 2014,0,0,4,Wed Aug 20 09:05:25 -0700 2014,56f9cdab1b6154ef883e9991646669a6,I think I enjoyed rereading book 3 more than I...,i think i enjoy reread book 3 i enjoy book tim...,,5dae9312c2c606a96efe33e0fd68c4a1
10107,5,Mon Jan 18 14:52:40 -0800 2016,Fri May 12 18:07:56 -0700 2017,0,1,5,Fri Dec 02 13:18:24 -0800 2016,5fef558ba32b30e39424c7b3b068c494,This book was always my favorite because of Si...,this book favorite sirius i be sure be i want ...,Sun Nov 27 00:00:00 -0800 2016,e3de9b8acd46c6bfce558ebb2e9eacd4
101774,5,Sun Aug 17 17:37:26 -0700 2008,Tue Nov 24 14:03:44 -0800 2015,0,0,5,Tue Nov 24 14:03:44 -0800 2015,e399dad8a1f7d38ea75a0e846ab44041,I forgot how much I loved this book. It really...,i forget i love book it push series complicate...,Sat Nov 06 00:00:00 -0700 2010,1b709482195baf4bf17dfc001b04537d
101978,5,Wed Nov 07 17:10:07 -0800 2012,Wed Nov 07 17:10:58 -0800 2012,0,0,5,,9844086fc63357dc6e1c2aa0bdbc046f,It was good. Read it a while ago. I didnt read...,it good read ago i not read book movie come,,ef1206c7b7955f61757e50189f2f2eed
101982,5,Sat Mar 19 19:44:10 -0700 2011,Tue Oct 17 11:57:44 -0700 2017,0,7,5,Tue Oct 17 14:37:37 -0700 2017,efbed8b131c76f34720861f910284c96,One of my favorite autumn re-reads!,one favorite autumn read,Tue Oct 10 00:00:00 -0700 2017,6a6cfef9d6413e82d5a37adb3897bdd1
10258,5,Sat Jun 23 15:06:29 -0700 2012,Thu Jan 12 21:30:27 -0800 2017,0,0,5,Mon Sep 14 00:00:00 -0700 2015,f2e33ce8f2f683fea2a66e1f6d2e6533,my absolute favorite book in the series.,absolute favorite book series,Sat Sep 12 00:00:00 -0700 2015,86adc7bacbb26e533c8f71f596ca5259
102667,5,Mon Nov 12 00:39:59 -0800 2012,Mon Nov 12 00:41:12 -0800 2012,0,0,4,,20670398ce1fc70462fbf3421e58ae7a,I started reading the series when I was 12 YO....,i start read series i 12 yo i love immediately...,,1a139f59a1354acbde4eec8facfffd2d
102669,5,Fri Dec 28 20:56:02 -0800 2012,Fri Dec 28 21:06:21 -0800 2012,0,0,4,Fri Dec 28 00:00:00 -0800 2012,7d7eaff60abaaf603e0c5eb8751d1f03,This book amazes me in how intricate all the d...,this book amaze intricate detail fit amazing h...,,66f6205af8610e3d807847cf01091ea0
102799,5,Tue Aug 19 15:54:40 -0700 2008,Wed Jul 08 11:33:16 -0700 2015,0,0,5,Wed Jul 01 00:00:00 -0700 2015,4e958fe764bc488143a0c95de378c90e,Just finished it with my daughters. I have alw...,just finish daughter i love probably favorite ...,Tue Jun 23 00:00:00 -0700 2015,dff447ef9117c4ea26e859a42be4be59
102879,5,Wed Aug 20 19:52:21 -0700 2008,Mon Mar 03 20:16:21 -0800 2014,0,0,5,,9b63310cd57f68b70c397196d2fa4601,2014 read - Reading this genderbent was absolu...,2014 read read genderbent absolutely brilliant...,,ef064bfb98643154be5128160ac840ae
103178,5,Wed Aug 20 04:14:16 -0700 2008,Wed Aug 20 04:14:23 -0700 2008,0,0,5,,8f257a93d7be4777e980d1a79af95c1d,worth reading.,worth read,,17ad167f4eed9c110bfc0456d43fddaf
103183,5,Sat Jul 30 11:25:27 -0700 2011,Tue Nov 15 17:55:34 -0800 2016,0,0,5,,a61ef19dc7b70edfc53dd3fa26f80afb,This book definitely beat numbers 1 & 2! It's ...,this book definitely beat number 1 2 it be fav...,Sat Jul 30 00:00:00 -0700 2011,d2932056ce097108cd0893c7e8283da2
103519,5,Sat Sep 06 09:05:08 -0700 2008,Mon Jul 30 07:26:33 -0700 2012,0,0,5,Sun Jul 29 00:00:00 -0700 2012,871a03dc86f541776d5d624cf7079210,Re-read. Probably about the 5th time I've read...,re read probably 5th time i have read,Wed Jul 25 00:00:00 -0700 2012,daccf66a386d5f725932cf7a529e0eeb
103671,5,Wed Sep 23 21:36:28 -0700 2015,Wed Sep 23 22:44:17 -0700 2015,1,0,5,Wed Sep 23 00:00:00 -0700 2015,73c6ebfdf285e321f576437afb9220a3,One of my favorites of all the Harry Potter bo...,one favorite harry potter book,Wed Sep 16 00:00:00 -0700 2015,cd90f49800fd2bdd5afd3251eb8ebab8
10393,5,Tue Apr 01 08:38:52 -0700 2008,Mon Apr 14 19:52:11 -0700 2008,0,0,5,Sat Jan 01 00:00:00 -0800 2005,1a637cf65a6843a8412098b141deaf2b,Loved it,love,,d74794110b1fe69e735094c00287f101
103940,5,Sun Jan 10 06:58:55 -0800 2010,Sun Jan 10 07:07:03 -0800 2010,0,1,4,Sat Jan 09 00:00:00 -0800 2010,0a28f3683a02393420d74206f919f235,I love the introduction to Sirius Black. He is...,i love introduction sirius black he interestin...,,19ccbcfcc0f2d7a4551b4398e7912859
10399,5,Wed Jul 04 20:42:48 -0700 2012,Mon Aug 28 23:39:13 -0700 2017,0,0,5,Mon Aug 28 00:00:00 -0700 2017,7ed46571ffde328dc4356b3b657325c7,Truly extraordinary!,truly extraordinary,Thu Aug 24 00:00:00 -0700 2017,f0e544d72eab3f3f72e86f652d76bedb
104058,5,Thu Aug 21 07:02:31 -0700 2008,Sat Nov 08 12:13:09 -0800 2008,0,0,5,Thu Nov 06 00:00:00 -0800 2008,f6a205beda2463f5f83e8a6cbed5b60f,This is one of my favorite books of the series...,this favorite book series as book be brilliant...,,0162dc73953d3eb4c1f263e34ab6981c
104063,5,Fri Oct 02 05:41:00 -0700 2015,Mon Oct 05 05:08:04 -0700 2015,2,3,5,Mon Oct 05 13:46:43 -0700 2015,47eff357b1ff9ef7d054db7adc86a8fb,"This book, for me, marks the transition of Har...",this book mark transition harry potter innocuo...,Fri Oct 02 00:00:00 -0700 2015,67d6fe2f3bbacd847582e14aad37a5a3
104144,5,Wed Jan 15 15:22:09 -0800 2014,Sun Aug 30 16:19:28 -0700 2015,0,4,5,Thu Jun 12 00:00:00 -0700 2014,c3b3f6567e973b81f28f12be00f99628,If I could give it more than 5 !! \n my best p...,if i 5 good and not desert instead transforma...,Fri Jun 06 00:00:00 -0700 2014,a95bf896dad52c965d2c13a8de533bd4
10425,5,Sun Jun 24 20:07:01 -0700 2012,Wed May 24 08:47:50 -0700 2017,0,0,0,Fri Jul 01 00:00:00 -0700 2011,4b0e8660e988b42e9b3d97662fe6b8f8,Cross-shelving as YA/MG due characters ages ev...,cross shelving ya mg character age largely con...,,99ad9a44f9b5fdbe14b81a4480f19381
104288,5,Thu Aug 21 16:22:57 -0700 2008,Mon Nov 18 13:50:40 -0800 2013,0,0,5,Mon Nov 18 13:50:40 -0800 2013,2a9ae5390f0f8621049871570b4640c0,Audiobook relisten 11/13,audiobook relisten 11/13,Fri Nov 08 00:00:00 -0800 2013,cfb9bd6a7a2894e0899cc74d85ea6727
10429,5,Sun Jun 24 11:20:44 -0700 2012,Thu Jun 08 04:37:29 -0700 2017,0,2,5,Thu Jun 08 04:37:29 -0700 2017,2a3df2b34878f6be594b3eab802a1391,LOVE love love ita(tm)! Watched the movie stra...,love love love ita(tm watch movie straight i f...,Thu Jun 01 00:00:00 -0700 2017,385babbc968f8bbfa24cf76dd7a45342
104803,5,Sun Feb 24 04:49:57 -0800 2013,Mon May 06 11:49:25 -0700 2013,0,0,5,,5d65914dd6c4ef2d0b7eea3f85d6b445,wow!,wow,,5fce3c17071502bdeca33416281339ea
104868,5,Fri Dec 12 09:16:39 -0800 2008,Wed Feb 04 10:02:34 -0800 2009,0,0,4,,791dcda5acf93460ee9c82f4b2197b0e,I think this has been my favorite of the Harry...,i think favorite harry potter series far i not...,,ce5b8a45d0d2284b789f10d89b527241
104872,5,Tue Nov 13 01:53:36 -0800 2012,Sun Jul 27 04:10:37 -0700 2014,0,0,5,,64bf6bc75dc089d525a2743a9089369b,Awesome like every part of Harry Potter's saga...,awesome like harry potter 's saga but good,,800eef1b2895c8fb027307bcf1e69d50
105330,5,Sat Jun 24 02:59:07 -0700 2017,Sat Jun 24 02:59:28 -0700 2017,0,0,5,Sat Jan 01 00:00:00 -0800 2005,b51f42f8f6c531407855d661c5d47299,My favorite Harry Potter book,my favorite harry potter book,Sat Jan 01 00:00:00 -0800 2005,8bf43ceb7c73348114cb211567ea7338
105586,5,Mon Oct 06 18:34:59 -0700 2008,Fri Oct 10 13:53:21 -0700 2008,0,0,4,Fri Oct 10 13:53:21 -0700 2008,80c647ced6c245915dd0496d9b241859,I think I gave the first two books five stars....,i think i give book star i feel like i enjoy k...,,d25a0130b8c836a9d2566e8e406f2574
105614,5,Sun Jan 19 20:48:28 -0800 2014,Tue Jan 21 01:09:12 -0800 2014,0,0,5,Tue Jan 21 01:09:12 -0800 2014,4207733772fb9b8bb34035744917da0c,I remember reading this book and being awestru...,i remember read book awestrucken great disappo...,Mon Jan 20 00:00:00 -0800 2014,d8afa0f968abf2bd4b84a61c9a139483
105675,5,Mon Oct 23 17:31:19 -0700 2017,Thu Oct 26 16:53:59 -0700 2017,0,0,5,Thu Oct 26 16:53:59 -0700 2017,67890f77ec12b2301b8c24f28bce7482,Gets better with each book!,get good book,Mon Oct 23 00:00:00 -0700 2017,7bb04f5ea7a9c83215aabaee5f15db7a
...,...,...,...,...,...,...,...,...,...,...,...,...
9472,5,Wed Jul 10 07:09:01 -0700 2013,Wed Jul 10 07:09:15 -0700 2013,0,0,5,,621919052874673c59aafebd16a91d33,Amazing!,amazing,,87ce1d5b84c9f377fe057aeddf90ee44
94822,5,Tue Jul 07 22:32:16 -0700 2009,Wed Aug 03 12:38:34 -0700 2016,0,0,5,Mon Aug 01 00:00:00 -0700 2016,3a73c14765c466452eeab6daf8222493,reread 2011 \n reread 2016,reread 2011 reread 2016,,94ad47569cc18363221eea0b181b1745
94949,5,Thu May 01 05:09:11 -0700 2014,Sat May 03 23:47:25 -0700 2014,0,0,5,Sat May 03 00:00:00 -0700 2014,7934530159dfbb4a5394009b788cd02e,THIS WAS AMAZING! COMPLETELY BREATH-TAKING AND...,this be amazing completely breath taking and i...,Thu May 01 00:00:00 -0700 2014,acbbc158fbb55ce16ccd57ad532e7d22
95072,5,Thu Mar 05 16:51:07 -0800 2009,Fri Mar 06 21:47:37 -0800 2009,0,0,5,Fri Mar 06 00:00:00 -0800 2009,6eff31465988143c7a683157f4c0d6f3,** spoiler alert ** \n This is my first round ...,spoiler alert this round harry potter series ...,,eb92acd186dd5de67dfda51db69227b0
95166,5,Tue Jun 11 08:20:39 -0700 2013,Sat Aug 27 06:38:24 -0700 2016,0,1,5,Sat Aug 27 06:38:24 -0700 2016,98d641ac039874e2eba43f03863d2bf1,Me every time I finish reading this book:,me time i finish read book,Fri Aug 26 00:00:00 -0700 2016,51616fd1a9fdfb5be06d7676d41e4862
95327,5,Thu Sep 03 06:51:55 -0700 2015,Sun Sep 13 06:51:56 -0700 2015,0,0,5,Sun Sep 13 06:51:56 -0700 2015,a9817d8776466fde13be2c522deb0841,"The best one yet! All the suspense, action, an...",the good all suspense action mystery professor...,Thu Sep 03 00:00:00 -0700 2015,a532ce77519ed67d9876734c5cb7763c
95368,5,Tue Aug 25 12:18:35 -0700 2009,Tue Oct 13 06:40:41 -0700 2009,0,0,5,,072d6b4496f5e3ae73d490fcecf3bec5,"I really liked this book, especially the endin...",i like book especially ending syrius black the...,,7bd279dccf3da8f456cf4097ffe8d344
95471,5,Mon Aug 11 02:04:31 -0700 2008,Mon Aug 11 02:06:12 -0700 2008,0,0,0,,db4d02419ecace6b297b95c8a80e1e52,salah satu buku HP favoritku... \n dibanding B...,salah satu buku hp favoritku diband buku1 dan...,,98a8c9fc4c69d99f0cb2d65c37565fc7
95503,5,Mon Aug 11 05:46:34 -0700 2008,Fri Aug 05 20:11:39 -0700 2011,0,0,5,,6db41afb53d1faea004d28d25285efc9,"This book, to me, is where the whole series tu...",this book series turn dark adult i love rowl d...,,23f7acf51201de1f11505372a68d2144
9563,5,Sun Mar 30 17:52:09 -0700 2008,Wed Dec 15 23:53:39 -0800 2010,0,0,5,Wed Dec 15 23:53:39 -0800 2010,7d275fbfd2f51741aba20924ae9160f6,Fantastic characters at every turn!,fantastic character turn,Tue Dec 14 07:59:40 -0800 2010,bd95576980f6c251075bf67d01657820
95692,5,Thu Aug 14 12:58:54 -0700 2008,Thu Aug 14 13:00:09 -0700 2008,0,0,5,Sat Jan 01 00:00:00 -0800 2005,84bcf47f1f2e966ac2052c6b01943929,Love Sirius Blake,love sirius blake,,548e82f1d27032eefc658307837c2452
95812,5,Mon Aug 11 13:52:26 -0700 2008,Mon Dec 27 05:25:40 -0800 2010,0,0,5,Fri Dec 24 00:00:00 -0800 2010,cd43a0ed4408f95219c00784e024b168,After I went to see part 1 of the 7th Harry Po...,after i go 1 7th harry potter book i realize i...,,e7fc9391a2ac5d01f6cd0dddccb9ff11
9593,5,Thu Jun 21 14:23:44 -0700 2012,Mon Apr 04 22:55:40 -0700 2016,0,0,5,Sat Aug 18 11:16:39 -0700 2012,fb96f4b8281ef685de3e9d925d516c3a,This book is my favorite so far! I really love...,this book favorite far i love end hermione goo...,Sat Aug 04 00:00:00 -0700 2012,5908548bec49010918247537e5a46b22
96324,5,Thu Nov 08 14:45:56 -0800 2012,Thu Nov 08 14:47:24 -0800 2012,0,0,5,,3db089c9105f3ecf04a0d206c32fe712,loved this book....again the book trasnports y...,love book book trasnport magical world harry t...,,8b6b72816e399d19f743b7cd8add5ffd
9672,5,Sun Jan 30 16:52:25 -0800 2011,Sun Jun 08 18:51:20 -0700 2014,0,0,4,Mon Feb 21 00:00:00 -0800 2011,39896fd600ff1d07191db374a4cec797,This one was FINALLY better than the first two...,this finally good excited start,Thu Feb 03 00:00:00 -0800 2011,f8d1c426cbc2121e8c31876016ecd828
96733,5,Sat Feb 25 18:02:31 -0800 2017,Sun Oct 15 19:31:49 -0700 2017,0,0,3,Sun Oct 15 19:30:35 -0700 2017,fdebaae9d02d0fdff0411b78a7dac6a4,This was a good book about Harry's third year....,this good book harry 's year fun twist learn d...,Sat Feb 25 18:02:31 -0800 2017,609ead0d687486d080f244d5aad524de
96738,5,Mon Jul 01 01:52:36 -0700 2013,Mon Jul 01 01:53:09 -0700 2013,0,0,5,,c63d5b5fbec2946deb5258d8926ea9f7,IT IS SO AWESOME. YAAAY.,it be so awesome yaaay,,e134d0c6f5bdbe53d452064f633776ee
97395,5,Thu Nov 08 09:48:39 -0800 2012,Sat Jun 08 15:15:28 -0700 2013,0,0,5,Sat Jun 08 15:15:28 -0700 2013,cea3814df9773ff7181b7195a27e517e,"Fantastic read, as all Harry Potter books are....",fantastic read harry potter book enjoy second ...,Mon May 27 00:00:00 -0700 2013,413ec548b972d76bbda482102d3fa332
97396,5,Thu Aug 14 09:20:51 -0700 2008,Tue Dec 15 12:07:24 -0800 2015,0,1,4,Tue Dec 15 14:49:33 -0800 2015,28759e18fd585af06c30171178f633f0,I only read the books after I saw the 3rd MOVI...,i read book i see 3rd movie amazing,Tue Dec 08 20:50:40 -0800 2015,0efb80afd2f152568ebc8189bf31797d
97485,5,Tue Jan 08 06:39:03 -0800 2013,Tue Jan 08 06:45:16 -0800 2013,0,0,5,,028df539596db4dd5c3ac8a6e550c19a,I really like J.K. Rowling's humor. The Maraud...,i like j.k. rowling 's humor the marauders amu...,,ac596f73768afa5137dd0996d5b657b0
9761,5,Fri Jun 22 07:26:13 -0700 2012,Thu Jul 26 07:42:13 -0700 2012,0,0,5,,17f742ade1389343bd496fd84f03fbde,Loved It =],love it =,,443e95e325a9c5dc55aaacd282093671
98062,5,Mon Nov 05 07:24:31 -0800 2012,Mon Nov 05 07:48:25 -0800 2012,0,0,5,,ea55e2dbbc1bef50cb3b20ddad2d57d4,The most amazing book of the Harry Potter saga...,the amazing book harry potter saga i rat star ...,,41b0b0040af9095a641fa6d6c1c30812
98065,5,Sun Jan 11 12:51:52 -0800 2015,Mon Oct 09 06:43:20 -0700 2017,0,0,5,,e230c4a6a783932633c54d67d3991aff,Harry Potter And The Prisoner Of Azkaban (Harr...,harry potter and the prisoner of azkaban harry...,Mon Oct 09 00:00:00 -0700 2017,d2e61dff9a8fbfd5f282aa8739e45222
98084,5,Tue May 14 12:00:27 -0700 2013,Thu Apr 27 13:31:56 -0700 2017,0,0,5,Sat Jan 16 00:00:00 -0800 2016,05f7b31667a3b93691c330f503300119,Rereading this at a much older age is very int...,reread old age interesting my review,Sat Jan 02 00:00:00 -0800 2016,347b6bafa208c52d80bef158c2e0168a
98148,5,Mon Dec 14 10:29:55 -0800 2015,Mon Dec 14 10:36:52 -0800 2015,0,1,4,Mon Dec 14 10:36:52 -0800 2015,4f26c6d341cf3799bd8ba0d81b1a8dc9,** spoiler alert ** \n Chamber of Secrets has ...,spoiler alert chamber secrets long favorite h...,,79a62a7cf08f446796695d4209eea69c
98183,5,Fri Jun 07 03:16:20 -0700 2013,Tue Jun 11 01:29:26 -0700 2013,0,0,5,Tue Jun 11 01:29:26 -0700 2013,f6ff43d3e3867ff0b5ba13ea01fd3d8a,"These series never ceased to amazed me, and th...",these series cease amazed king cross station s...,Fri Jun 07 00:00:00 -0700 2013,c1ff1b43cb2f4d61a56365c09e0e6fc2
98347,5,Sat Jan 05 18:37:03 -0800 2013,Sat Sep 07 18:18:51 -0700 2013,0,0,5,,786a9d9bcb98cf0d585b411f8d9c4c81,When I was reading this..I was thinking: This ...,when i read i think this soo scary it scary 2 ...,,4f9e9955f206dffc8759b87ebe78ff30
98374,5,Tue Nov 17 07:51:36 -0800 2015,Mon Jul 11 11:42:42 -0700 2016,0,0,5,Tue Jul 12 00:00:00 -0700 2016,6c1a9238ab1fef9a801652cfc360170b,"Oh my gosh! So far, this is my favorite book!!...",oh gosh so far favorite book i love plot twist...,Mon Jul 04 00:00:00 -0700 2016,266743383315a77329555d8d77e92845
98441,5,Mon Jan 05 14:28:25 -0800 2009,Mon Jan 05 14:28:48 -0800 2009,0,0,4,,d6203eba3abe427fb72addbf2aff08d5,"I admit, I really liked this one. Now it feels...",i admit i like now feel like be go,,e2de3ca22a44e2cc56c45c1ed771fd42
98678,5,Sat Aug 23 16:46:25 -0700 2008,Fri Apr 16 12:17:31 -0700 2010,0,0,5,,c968dc6068b75266ca80f7309bfda909,Harry Potter and the Prisoner of Azkaban (book...,harry potter prisoner azkaban book 3 harry pot...,,b17ad3da712da59dd587bd24830b9e9e

In [13]:
df.groupby('book_id').review_text_proc.count()

book_id
5           4696
50           788
61            21
93           335
236            8
241           11
244            2
302            7
314            2
329            2
330           31
333            2
334            5
335            1
378         1115
507            1
639           36
881            7
883            1
889            1
903          152
1163           5
1165           2
1166           2
1167          52
1170           1
1852         801
1853          74
1931           7
1946           9
            ...
36392701       1
36405746       1
36405748       1
36410032       1
36412369       1
36412886       1
36412964       1
36413222       2
36415326       1
36417368       2
36421962       1
36428313       1
36433576       1
36439778       1
36444005       1
36445074       1
36445594       1
36448737       1
36450438       1
36450461       1
36451084       1
36451351       1
36452491       1
36455104       1
36457855       1
36459407       1
36460178       1
36463570       1
36465694       1
36469877       1
Name: review_text_proc, Length: 123946, dtype: int64

In [1]:
df.groupby('book_id').review_text_proc.agg(' '.join)

NameError: name 'df' is not defined

In [38]:
import gzip
import json

def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield l

def get_dataframe(path):
    i = 0
    df = {}
    for d in parse(path):
        dec = json.loads(d.decode('utf8'))
        if not dec['is_read']:
            continue
        dec_cut = {'book_id': dec['book_id'],  'user_id': dec['user_id'], 'rating': dec['rating']}
        df[i] = dec_cut
        i += 1
        if i % 1000000 == 0:
            print(i)
    return pd.DataFrame.from_dict(df, orient='index')

df_meta = get_dataframe(r'D:\Datasets\goodreads_reviews\goodreads_interactions_children.json.gz')

1000000
2000000
3000000
4000000
5000000
6000000

In [50]:
df_meta.head(2)

                            user_id   book_id  rating
0  8842281e1d1347389f2ab93d60773d4d  23310161       4
1  8842281e1d1347389f2ab93d60773d4d  18296097       5

In [51]:
df_meta.shape

(6626989, 3)

In [49]:
print('Unique users:', df_meta['user_id'].unique().shape)
print('Unique books:', df_meta['book_id'].unique().shape)

Unique users: (474296,)
Unique books: (123196,)

In [53]:
# sparsity = 1 - #non_zero(A) / #total(A)
sparsity = 1 - 6626989/ (474296 * 123196)

In [55]:
sparsity

0.9998865850826674

In [56]:
df_meta.to_json('D:/Datasets/goodreads_reviews/processed/' + 'goodreads_interactions_children.json')