### EDA for Goodreads dataset

In [1]:
import pickle
import tensorflow as tf
import pandas as pd

In [45]:
import gzip
import json

def parse(path):
    with open(path) as file:
        for l in file:
            yield l

def get_dataframe(path):
    i = 0
    df = {}
    for d in parse(path):
        dec = json.loads(d)
        #print(dec)
        if not dec['is_read']:
            continue
        dec_cut = {'book_id': dec['book_id'],  'user_id': dec['user_id'], 'rating': dec['rating']}
        df[i] = dec_cut
        i += 1
        #if i % 10 == 0:
        #    break
    return pd.DataFrame.from_dict(df, orient='index')

In [58]:
#df_rates = pd.read_json('D:/Datasets/goodreads_reviews/processed/goodreads_interactions_children.json')
#df_rates = get_dataframe('D:/Datasets/goodreads_reviews/processed/goodreads_interactions_history_biography.json')
df_rates = get_dataframe('D:/Datasets/goodreads_reviews/processed/goodreads_interactions_mystery_thriller_crime.json')

In [59]:
df_rates.head(2)

    book_id  rating                           user_id
0   6392944       3  8842281e1d1347389f2ab93d60773d4d
1  28684704       3  8842281e1d1347389f2ab93d60773d4d

In [60]:
len(df_rates.book_id.unique())

218031

In [61]:
len(df_rates.user_id.unique())

597012

In [62]:
df_rates.shape

(12524984, 3)

In [63]:
df_rates.rating.value_counts()

4    4599078
5    3230783
3    2992690
0     809466
2     696858
1     196109
Name: rating, dtype: int64