### EDA for Goodreads dataset

In [1]:
import pickle
import tensorflow as tf
import pandas as pd

In [2]:
import gzip
import json

def parse(path):
    with open(path) as file:
        for l in file:
            yield l

def get_dataframe(path):
    i = 0
    df = {}
    for d in parse(path):
        dec = json.loads(d)
        print(dec)
        #if not dec['is_read']:
        #    continue
        dec_cut = {'book_id': dec['book_id'],  'user_id': dec['user_id'], 'rating': dec['rating']}
        df[i] = dec_cut
        i += 1
        if i % 10 == 0:
            break
    return pd.DataFrame.from_dict(df, orient='index')

In [13]:
#df_rates = pd.read_json('D:/Datasets/amazon_reviews/processed/reviews_Movies_and_TV_5.json')
#df_rates = pd.read_json('D:/Datasets/amazon_reviews/processed/reviews_Video_Games_5.json')
df_rates = pd.read_json('D:/Datasets/amazon_reviews/processed/reviews_Books_5.json')

In [14]:
df_rates.head(2)

,asin,helpful,overall,reviewText,reviewTextProc,reviewTime,reviewerID,reviewerName,summary,summaryProc,unixReviewTime
0,0700099867,"[8, 12]",1,Installing the game was a struggle (because of...,instal game struggle game window live bugs).so...,"07 9, 2012",A2HD75EMZR8QLN,123,Pay to unlock content? I don't think so.,pay unlock content i not think,1341792000
1,0700099867,"[0, 0]",4,If you like rally cars get this game you will ...,if like rally car game fun it orient 34;europe...,"06 30, 2013",A3UR8NLLY1ZHCX,"Alejandro Henao ""Electronic Junky""",Good rally game,good rally game,1372550400

In [15]:
len(df_rates.asin.unique())

10672

In [16]:
len(df_rates.reviewerID.unique())

24303

In [17]:
df_rates.shape

(231780, 11)

In [18]:
df_rates.overall.value_counts()

5    120185
4     54804
3     28275
1     14853
2     13663
Name: overall, dtype: int64