In [3]:
import pandas as pd
import gensim

In [5]:
df = pd.read_json(r'D:\Datasets\goodreads_reviews\goodreads_reviews_children.json.gz', lines=True)

In [ ]:
df_meta = pd.read_json(r'D:\Datasets\goodreads_reviews\goodreads_books_children.json.gz',  lines = True)

In [14]:
df.head(2)

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,23310161,Tue Nov 17 11:37:35 -0800 2015,Tue Nov 17 11:38:05 -0800 2015,0,7,4,,f4b4b050f4be00e9283c92a814af2670,Fun sequel to the original.,,8842281e1d1347389f2ab93d60773d4d
1,17290220,Sat Nov 08 08:54:03 -0800 2014,Wed Jan 25 13:56:12 -0800 2017,0,4,5,Tue Jan 24 00:00:00 -0800 2017,22d424a2b0057b18fb6ecf017af7be92,One of my favorite books to read to my 5 year ...,,8842281e1d1347389f2ab93d60773d4d

In [17]:
mega_text = ' '.join(df.review_text.values)

In [ ]:
id2word = gensim.corpora.Dictionary.load_from_text(mega_text)